@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --theme-bg: white; /* Theme should adapt and switch between light and dark mdoe*/
    --nav-height: 5rem;
    --nav-item-height: calc(var(var(--nav-height)) * .8)
}

body {
    overflow: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}